body, main, section, div, p, img, button{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1296px;
    margin: 0 auto;
}
.zagalovok{
    text-align: center;
    padding: 50px 0 100px 0;
    font-size: 48px;
    font-weight: 700;
}
section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 60px;
    background-color: rgba(25, 25, 25, 0.05);
    border-radius: 16px;
}
.block_date{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block_date_num{
    font-size: 64px;
    font-weight: 700;
}
.block_date_txt{
    font-size: 32px;
    font-weight: 700;
}
.block_info{
    width: 415px;
    display: flex;
    align-items: center;
}
.name{
    width: 415px;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
}
.opisanie{
    margin-top: 16px;
    width: 415px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(64, 59, 59);
}
.icon{
    margin-top: 45px;
    display: flex;
    align-items: center;
}
.icon img{
    margin-right: 5px;
}
.icon p{
    margin-right: 30px;
}
button{
    width: 175px;
    height: 51px;
    background-color: rgba(5, 176, 147, 1);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border: none;
}
.top{
    margin-top: 80px;
}