*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "EB Garamond", serif;
    margin: 0 auto;
}
.container{
    max-width: 1300px;
    padding: 0 4px;
    margin: 0 auto;
}
.example-3-title{
    display: flex;
    font-size: 48px;
    font-weight: 700;
    justify-content: center;
    margin-bottom: 100px;
}
.header{
    color: white;
    background-color:black;
    margin-bottom: 60px;
}
.title-text{
    font-size: 20px;
    margin: 0px;

}
.nav-ul{
    display: flex;
    gap: 40px;
    font-weight: 700;
}
.title{
    display: flex;
    align-items: center;
    padding: 32px 0px;
    justify-content: space-between;
}

ul {
    list-style-type: square;
}

.slider{
    display: flex;
    justify-content: space-between;

}

.block{
    display: flex;
    align-items: center;
    width: 416px;
    background-color: rgba(19, 19, 19, 0.05);
    padding: 12px 16px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.block-text{
    margin-left: 24px;
    font-weight: 600;
    font-size: 16px;
}


